<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hello.stella"
    android:installLocation="auto">

    <application
        android:name="com.bsgamesdk.android.uo.imp.BSGameApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
        tools:ignore="MissingTvBanner"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.hello.stella.UnityPlayerNativeActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|uiMode|touchscreen|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="true" />
        </activity>
        <activity
            android:name="com.hello.stella.PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name="com.hello.stella.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="unityplayer.ForwardNativeEventsToDalvik"
            android:value="true" />
        <meta-data
            android:name="unityplayer.SkipPermissionsDialog"
            android:value="true" />
        <meta-data
            android:name="BILIGAME_CPID"
            android:value="@string/cpid" />
        <meta-data
            android:name="BILIGAME_APPID"
            android:value="@string/appid" />
        <meta-data
            android:name="BILIGAME_CHANNELID"
            android:value="@string/channelid" />
        <meta-data
            android:name="BILIGAME_CHANNEL_APPID"
            android:value="@string/biligame_channel_appid" />
        <!-- Fello -->
        <meta-data
            android:name="BILIGAME_CHANNEL_APPKEY"
            android:value="@string/biligame_channel_appkey" />
        <meta-data
            android:name="BILIGAME_CHANNEL_CPID"
            android:value="@string/biligame_channel_cpid" />

        <meta-data
            android:name="BILIGAME_ORIENTATION"
            android:value="landscape" />
        <!-- APP项目的其它配置... -->
        <!-- 【必须】 信鸽receiver广播接收 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理-->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100242625" />
        <!-- 【必须】 信鸽service -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="ABD3I7474KFE" />
    </application>
    <!--<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23" />-->
    <!-- Fello -->
    <!--<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />-->
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <!--       -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <!--<uses-permission android:name="com.android.vending.BILLING" />-->
    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>