<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bilibili.fatego"
    android:installLocation="auto">

    <application
        android:name="com.bsgamesdk.android.uo.imp.BSGameApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">

        <activity
            android:name="jp.delightworks.Fgo.player.AndroidPlugin"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="true" />
        </activity>
        <activity
            android:name="com.bilibili.fatego.UnityPlayerNativeActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|uiMode|touchscreen|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="true" />
        </activity>
        <activity
            android:name="com.onevcat.uniwebview.UniWebViewCustomViewActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="true" />
        </activity>
        <activity
            android:name="jp.delightworks.unityplugin.webview.WebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.bilibili.fatego.PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity
            android:name="com.bilibili.fatego.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="false">
            <intent-filter>
                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="unityplayer.ForwardNativeEventsToDalvik"
            android:value="true" />
        <meta-data
            android:name="unityplayer.SkipPermissionsDialog"
            android:value="true" />
        <meta-data
            android:name="BILIGAME_CPID"
            android:value="@string/cpid" />
        <meta-data
            android:name="BILIGAME_APPID"
            android:value="@string/appid" />
        <meta-data
            android:name="BILIGAME_CHANNELID"
            android:value="@string/channelid" />
        <meta-data
            android:name="BILIGAME_CHANNEL_APPID"
            android:value="@string/biligame_channel_appid" />
        <!-- Fello -->
        <meta-data
            android:name="BILIGAME_CHANNEL_APPKEY"
            android:value="@string/biligame_channel_appkey" />
        <meta-data
            android:name="BILIGAME_CHANNEL_CPID"
            android:value="@string/biligame_channel_cpid" />

        <meta-data
            android:name="BILIGAME_ORIENTATION"
            android:value="landscape" />
        <!-- APP项目的其它配置... -->
        <!-- 【必须】 信鸽receiver广播接收 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理-->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100242625" />
        <!-- 【必须】 信鸽service -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="ABD3I7474KFE" />
        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <receiver android:name="com.guyastudio.unityplugins.AndroidNotificator">
            <intent-filter>
                <action android:name="UNITY_NOTIFICATOR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7fffffff">
                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.bilibili.fatego.PUSH_ACTION" />
            </intent-filter>
        </service>
    </application>
    <!--<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23" />-->
    <!-- Fello -->
    <!--<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />-->
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <!--       -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <!--<uses-permission android:name="com.android.vending.BILLING" />-->
    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <!--<uses-permission android:name="android.permission.RESTART_PACKAGES" />-->
    <!--<uses-permission android:name="android.permission.BROADCAST_STICKY" />-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <!--<uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />-->
    <!--<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />-->
    <!--<uses-permission android:name="android.permission.VIBRATE" />-->
    <!-- Metaps -->
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <!--         -->
    <!--<uses-permission android:name="com.bilibili.fatego.permission.C2D_MESSAGE" />-->
    <!--<uses-permission android:name="com.bilibili.fatego.permission.RECEIVE" />-->
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>