<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hello.stella">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:theme="@style/UnityThemeSelector"
        tools:ignore="MissingTvBanner"
        tools:replace="android:allowBackup,android:icon,android:theme">

        <activity
            android:name="com.hello.stella.UnityPlayerNativeActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="true" />
        </activity>
        <!-- paypal  end -->
        <!-- alipay  begin -->
        <activity
            android:name="com.onevcat.uniwebview.UniWebViewCustomViewActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="true" />
        </activity>
        <!-- alipay  end -->
        <activity
            android:name="jp.delightworks.unityplugin.webview.WebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="sdk_log_type"
            android:value="1" />
        <meta-data
            android:name="unityplayer.ForwardNativeEventsToDalvik"
            android:value="true" />
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100242625" />
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="ABD3I7474KFE" />
        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7fffffff">
                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hello.stella.sharejoy.PUSH_ACTION" />
            </intent-filter>
        </service>
    </application>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <!-- Fello -->
    <!--<uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>-->
    <!--<uses-permission android:name="android.permission.GET_TASKS"/>-->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>-->
    <!--       -->
    <!--<uses-permission android:name="com.android.vending.BILLING"/>-->
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS"/>-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- Metaps -->
    <!--         -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <!--<permission android:name="com.hello.stella.permission.C2D_MESSAGE" android:protectionLevel="signature" />-->
    <!--<uses-permission android:name="com.hello.stella.permission.C2D_MESSAGE"/>-->
    <!--<uses-permission android:name="com.hello.stella.permission.RECEIVE"/>-->
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />
    <!-- 【必须】 信鸽SDK所需权限 -->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->
    <!--<uses-permission android:name="android.permission.RESTART_PACKAGES"/>-->
    <!--<uses-permission android:name="android.permission.BROADCAST_STICKY"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
    <!--<uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>-->
    <!--<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<uses-permission android:name="android.permission.VIBRATE"/>-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.SET_DEBUG_APP" />-->
    <!--    <uses-permission android:name="android.permission.CAMERA" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.READ_LOGS" />-->
<!--    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
</manifest>
