*.DS_Store
iosProject/bilibili/build
iosProject/bilibili/Classes/Native
iosProject/bilibili/Data

/AndroidProject/bilibili/build/
/AndroidProject/bilibili/.idea
/AndroidProject/bilibili/.gradle
/AndroidProject/bilibili/src/main/assets/bin
/AndroidProject/bilibili/local.properties
/AndroidProject/bilibili/unity-android-resources/*.iml
/AndroidProject/bilibili/unity-android-resources/build
/AndroidProject/bilibili/unityandroidresources/*.iml
/AndroidProject/bilibili/unityandroidresources/build
/AndroidProject/bilibili/src/main/assets/AssetStorages
/AndroidProject/bilibili/*.iml

/AndroidProject_UO/bilibili/build/
/AndroidProject_UO/bilibili/.idea
/AndroidProject_UO/bilibili/.gradle
/AndroidProject_UO/bilibili/src/main/assets/bin
/AndroidProject_UO/bilibili/local.properties
/AndroidProject_UO/bilibili/unity-android-resources/*.iml
/AndroidProject_UO/bilibili/unity-android-resources/build
/AndroidProject_UO/bilibili/unityandroidresources/*.iml
/AndroidProject_UO/bilibili/unityandroidresources/build
/AndroidProject_UO/bilibili/src/main/assets/AssetStorages
/AndroidProject_UO/bilibili/*.iml

/NHPProtect-3.6.3/Log
/NHPProtect-4.1.6/Log
*gradle.properties

*.backup

