<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bilibili.fatego.resources">

    <application>
        <meta-data
            android:name="unity.build-id"
            android:value="dd31be80-70b7-4bc7-8b63-c32ee493a6d5" />
        <meta-data
            android:name="unity.splash-mode"
            android:value="2" />
        <meta-data
            android:name="unity.splash-enable"
            android:value="True" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
    </application>

</manifest>